{{ partial "head" . }}

<body>
{{ partial "header" . }}

<div id="body">
    <div class="container">
        <div class="col-group">

            <div class="col-8" id="main">

                <div class="res-cons">
                    {{ range $index,$data := (where .Paginator.Pages "Type" "post") }}
                        <article  class="post">
                            <header>
                                <h2 class="post-title  animated slow flipInX "><i class="fa fa-file-text-o"></i>
                                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                                </h2>
                            </header>
                            <date class="post-meta meta-date animated slower fadeInUp">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                {{ .Date.Year }}年{{ printf "%d" .Date.Month }}月{{ .Date.Day }}日
                                {{ printf "%02d" .Date.Hour }}:{{ printf "%02d" .Date.Minute }}
                            </date>
                            <div class="post-meta animated slower fadeInUp">
                                | <i class="fa fa-user-o" aria-hidden="true"></i>
                                <a href="/about">{{ .Site.Author.name }}</a>
                            </div>
                            {{ with .Params.Categories }}
                            <div class="post-meta animated slower fadeInUp">
                                | <i class="fa fa-folder-o" aria-hidden="true"></i>
                                {{ range . }}
                                    <a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
                                {{ end }}
                            </div>
                            {{ end }}
                            <div class="post-content animated slower flipInY">
                                <blockquote>
                                <p>{{ .Summary | truncate 200 }}</p>
                                </blockquote>
                                <br />
                                <a href="{{ .Permalink }}">阅读全文&nbsp;<i class="fa fa-angle-double-right" ></i></a>
                            </div>
                        </article>
                        <br />
                        <hr class ="animated slower fadeInUp" />
                    {{ end }}
                    <p class="pull-right2"><a href="/" class="fa fa-home" ></a></p>
                    <p class="pull-right"><a href="#" class="fa fa-angle-double-up" ></a></p>
                    <p class="pull-left"><a href="#" onclick="javascript:history.go(-1);return false;" class="fa fa-angle-double-left" ></a></p>
                    {{ partial "paginator" . }}
                </div>
            </div>
            {{ partial "sidebar" . }}
        </div>
    </div>
</div>
{{ partial "footer" . }}

</body>
</html>
